@use  "../abstracts/" as *;
@use "../components/" as *;
@use "../base/" as *;


// .keyboard-alphabetic{
//     @include 
// }
.input-password{
    width: rem(17);
    height: rem(17);
    border-radius: 100%;
    margin: rem(3);
    border: none;
    background-color: $bluee5;
    font-size: rem(17);
    color: $blue3;
    text-align: center;
    &[type="password"] {
        //transform:;
        //text-indent: rem(-1);
        font-size: rem(60);
    }
}

.keyboard-alphabetic{ 
    @include background("Bars/keyboard-alphabetic.png");
    height: rem(291);
    position:fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

