@use  "../abstracts/" as *;
@use "../components/" as *;
@use "../base/" as *;

.input-password__wrong{
    width: rem(17);
    height: rem(17);
    border-radius: 100%;
    margin: rem(3);
    border: none;
    background-color: $bluee5;
    font-size: rem(17);
    color:#EC4E4E;
    text-align: center;
    &[type="password"] {
        //transform:;
        //text-indent: rem(-1);
        font-size: rem(60);
    }
}